#out #msg {
	border: solid 1px black;
	margin: .2em;
}
#out #msg>strong {
	color: green;
	margin-right: .1em
}
#out #msg>span.date {
	color: gray;
	font-size: .5em;
	text-aling: right;
	float: right;
}
textarea[name='txt']{
	width: 100%;
	height: 100px;
}
